In [40]:
# Goal: determine which nodes count as "having boba"
import osmnx as ox
import geopandas as gpd
import pickle
import json
import pandas as pd

## Read data

This shouldn't take longer than ~40 sec.

In [9]:
with open("./data/seattle_networkx_graph.pkl", "rb") as fin:
    G = pickle.load(fin)

In [10]:
nodes, edges = ox.graph_to_gdfs(G)

In [11]:
nodes.head()

,y,x,highway,street_count,ref,geometry
osmid,,,,,,
29449863,47.643976,-122.304067,traffic_signals,4,NaN,POINT (-122.30407 47.64398)
29462909,47.641088,-122.297930,NaN,3,NaN,POINT (-122.29793 47.64109)
29464223,47.643918,-122.304207,traffic_signals,3,NaN,POINT (-122.30421 47.64392)
29464742,47.658325,-122.301425,NaN,3,NaN,POINT (-122.30143 47.65832)
29464746,47.656011,-122.302121,NaN,3,NaN,POINT (-122.30212 47.65601)

In [12]:
edges.head()

                                                     osmid  oneway   lanes  \
u        v           key
29449863 3391701883  0                           332060236   False       3
         10791184626 0                           424636850   False       2
         29464223    0                           426250827   False       2
         2247309277  0    [1179848483, 4636259, 361443212]   False  [2, 4]
29462909 3683076717  0                           364254479   False       2

                             ref                            name    highway  \
u        v           key
29449863 3391701883  0    WA 513        East Montlake Place East  secondary
         10791184626 0       NaN  East Lake Washington Boulevard  secondary
         29464223    0       NaN                             NaN  secondary
         2247309277  0    WA 513         Montlake Boulevard East    primary
29462909 3683076717  0       NaN  Lake Washington Boulevard East  secondary

                         maxspeed      junction reversed   length bridge  \
u        v           key
29449863 3391701883  0     25 mph  intersection     True    8.550    NaN
         10791184626 0     25 mph           NaN     True    8.411    NaN
         29464223    0        NaN  intersection    False   12.285    NaN
         2247309277  0     30 mph           NaN    False  183.479    yes
29462909 3683076717  0     25 mph           NaN    False   17.682    NaN

                                                                   geometry  \
u        v           key
29449863 3391701883  0    LINESTRING (-122.30407 47.64398, -122.30400 47...
         10791184626 0    LINESTRING (-122.30407 47.64398, -122.30397 47...
         29464223    0    LINESTRING (-122.30407 47.64398, -122.30421 47...
         2247309277  0    LINESTRING (-122.30407 47.64398, -122.30422 47...
29462909 3683076717  0    LINESTRING (-122.29793 47.64109, -122.29795 47...

                         access service width tunnel
u        v           key
29449863 3391701883  0      NaN     NaN   NaN    NaN
         10791184626 0      NaN     NaN   NaN    NaN
         29464223    0      NaN     NaN   NaN    NaN
         2247309277  0      NaN     NaN   NaN    NaN
29462909 3683076717  0      NaN     NaN   NaN    NaN

In [62]:
# Hack from https://stackoverflow.com/questions/71907567/valueerror-geodataframe-does-not-support-multiple-columns-using-the-geometry-co
boba_gdf = gpd.read_file("./data/seattle_boba_shops.csv",
                         GEOM_POSSIBLE_NAMES="geometry", 
                         KEEP_GEOM_COLUMNS="NO")
boba_gdf = boba_gdf[["id", "location", "geometry"]]
boba_gdf.head()

,id,location,geometry
0,ozuMi1zz9jJkkikPLqNNSA,"{'address1': '600 5th Ave S', 'address2': 'Ste...",POINT (-122.32667 47.59680)
1,M4BjcVhOEjVgeF8EeSjZPQ,"{'address1': '519 6th Ave S', 'address2': '', ...",POINT (-122.32656 47.59765)
2,rFC0LUPyhgyP7UC9ehkrHw,"{'address1': '618 S Weller St', 'address2': ''...",POINT (-122.32529 47.59771)
3,I4pK6zZ4QwpmwVSTcDhH7A,"{'address1': '619 S King St', 'address2': None...",POINT (-122.32545 47.59823)
4,_L8WhDX0gwh1oMfpI7jdog,"{'address1': '679 S King St', 'address2': '', ...",POINT (-122.32394 47.59827)

In [68]:
for index, row in boba_gdf.iterrows():
    loc = eval(row[1])
    addr = f"{loc['address1']}, {loc['city']}, {loc['zip_code']}"

    print(f"Attempting to geocode {addr:>50}... ", end="")
    try:
        lat, long = ox.geocoder.geocode(addr)
        print(f"Found: {lat, long}")

        boba_gdf.iloc[index].x = long
        boba_gdf.iloc[index].y = lat

    except:
        print(f"Not found. Dropping row.")
        boba_gdf.drop(index=index, axis=0)

Attempting to geocode                      600 5th Ave S, Seattle, 98104... Found: (47.5972782, -122.327447)
Attempting to geocode                      519 6th Ave S, Seattle, 98104... Found: (47.5977153, -122.3265439)
Attempting to geocode                    618 S Weller St, Seattle, 98104... Found: (47.5976337, -122.3255237)
Attempting to geocode                      619 S King St, Seattle, 98104... Found: (47.5982488, -122.3254928)
Attempting to geocode                      679 S King St, Seattle, 98104... Found: (47.5982404, -122.3239502)
Attempting to geocode                  1043 S Jackson St, Seattle, 98104... Found: (47.5988089, -122.317458)
Attempting to geocode                        613 9th Ave, Seattle, 98104... Found: (47.6059309, -122.3253983)
Attempting to geocode                      1150 11th Ave, Seattle, 98122... Found: (47.6126016, -122.317964)
Attempting to geocode                      1416 10th Ave, Seattle, 98122... Found: (47.6133604, -122.3192083)
Attempting to geocode                   9025 25th Ave SW, Seattle, 98106... Found: (47.5226736, -122.3655616)
Attempting to geocode                   9025 25th Ave SW, Seattle, 98106... Found: (47.5226736, -122.3655616)
Attempting to geocode               4800 Delridge Way SW, Seattle, 98106... Found: (47.559152, -122.362776)
Attempting to geocode                   4740 42nd Ave SW, Seattle, 98116... Found: (47.5601093, -122.3846068)
Attempting to geocode                   4611 36th Ave SW, Seattle, 98126... Found: (47.5617127, -122.3777685)
Attempting to geocode             3217 California Ave SW, Seattle, 98116... Found: (47.57537702020202, -122.38688216161616)
Attempting to geocode                   2622 Alki Ave SW, Seattle, 98116... Found: (47.58008475, -122.4074340323934)
Attempting to geocode                   2532 Alki Ave SW, Seattle, 98116... Found: (47.5805845, -122.4063283)
Attempting to geocode                 1619 Harbor Ave SW, Seattle, 98126... Found: (47.5891426, -122.38146674272434)
Attempting to geocode                      506 S King St, Seattle, 98104... Found: (47.598475, -122.3273183)
Attempting to geocode                   223 5th Avenue S, Seattle, 98104... Found: (47.600617877551024, -122.32778167346939)
Attempting to geocode                       1422 2nd Ave, Seattle, 98101... Found: (47.6086157755102, -122.33814895918367)
Attempting to geocode                               None, Seattle, 98101... Not found. Dropping row.
Attempting to geocode                       1905 4th Ave, Seattle, 98101... Found: (47.6122988, -122.3391678)
Attempting to geocode                       1629 6th Ave, Seattle, 98101... Found: (47.6128434, -122.3362326)
Attempting to geocode   7101 Martin Luther King Jr Way S, Seattle, 98118... Found: (47.5384086, -122.2829708)
Attempting to geocode   6951 Martin Luther King Jr Way S, Seattle, 98118... Found: (47.5391664, -122.283133)
Attempting to geocode   6408 Martin Luther King Jr Way S, Seattle, 98118... Found: (47.54503095, -122.28462267473077)
Attempting to geocode   6014 Martin Luther King Jr Way S, Seattle, 98118... Found: (47.5475727, -122.285651)
Attempting to geocode                 2931 Rainier Ave S, Seattle, 98144... Found: (47.5769191, -122.2973684)
Attempting to geocode                  2506 S Jackson St, Seattle, 98144... Found: (47.59934826530612, -122.29964595918368)
Attempting to geocode                  2506 S Jackson St, Seattle, 98144... Found: (47.59934826530612, -122.29964595918368)
Attempting to geocode                 2630 NE Village Ln, Seattle, 98105... Found: (47.662413, -122.2988036)
Attempting to geocode             5240 University Way NE, Seattle, 98105... Found: (47.6678482, -122.3128098)
Attempting to geocode                    1410 NE 65th St, Seattle, 98115... Found: (47.6759555, -122.3126994)
Attempting to geocode                      1424 11th Ave, Seattle, 98122... Found: (47.613624, -122.3179723)
Attempting to geocode                   1527 Harvard Ave, Seattle, 98122... Found: (47.614812, -122.3223378)
Attempting to geocode                     1424 E Pine St, Seattle, 98122... Found: (47.6154471, -122.3129642)
Attempting to geocode                      1715 12th Ave, Seattle, 98122... Found: (47.616902499999995, -122.3171908483883)
Attempting to geocode                     125 Broadway E, Seattle, 98102... Found: (47.619578, -122.321059)
Attempting to geocode                     202 Broadway E, Seattle, 98102... Found: (47.6200664, -122.3206398)
Attempting to geocode                     420 Broadway E, Seattle, 98102... Found: (47.6226482, -122.3206951)
Attempting to geocode                     509 Broadway E, Seattle, 98102... Found: (47.6235137, -122.321113)
Attempting to geocode                1823 Eastlake Ave E, Seattle, 98102... Found: (47.6357623, -122.3257894)
Attempting to geocode                    11 E Allison St, Seattle, 98102... Found: (47.649051799999995, -122.32541783266424)
Attempting to geocode                  2124 Westlake Ave, Seattle, 98121... Found: (47.6173877, -122.338058)
Attempting to geocode                       2245 8th Ave, Seattle, 98121... Found: (47.6174577, -122.3403413)
Attempting to geocode                      139 9th Ave N, Seattle, 98109... Found: (47.618749921779724, -122.33993991148586)
Attempting to geocode                 400 Fairview Ave N, Seattle, 98109... Found: (47.6225956, -122.333946)
Attempting to geocode                      518 1st Ave N, Seattle, 98109... Found: (47.623898, -122.3552071)
Attempting to geocode                  1600 Dexter Ave N, Seattle, 98109... Found: (47.6333279, -122.3420933)
Attempting to geocode              2231 Queen Anne Ave N, Seattle, 98109... Found: (47.6392929, -122.35721230040684)
Attempting to geocode                   3407 W McGraw St, Seattle, 98199... Found: (47.6394283, -122.4015418)
Attempting to geocode                      734 N 34th St, Seattle, 98103... Found: (47.649539238095244, -122.34899495238095)
Attempting to geocode                    1408 NE 40th St, Seattle, 98105... Found: (47.6554493, -122.3128958)
Attempting to geocode               4106 Brooklyn Ave Ne, Seattle, 98105... Found: (47.6569977, -122.313987)
Attempting to geocode             4141 University Way NE, Seattle, 98105... Found: (47.6581069, -122.3133993)
Attempting to geocode             4213 University Way NE, Seattle, 98105... Found: (47.658756, -122.3133633)
Attempting to geocode                4334 University Way, Seattle, 98105... Found: (47.6607738, -122.3129706)
Attempting to geocode             4343 University Way NE, Seattle, 98105... Found: (47.6610608, -122.3133223)
Attempting to geocode                    1409 NE 45th St, Seattle, 98105... Found: (47.66118667346939, -122.31288408163266)
Attempting to geocode                    1312 NE 45th St, Seattle, 98105... Found: (47.6614081, -122.3136236)
Attempting to geocode             4505 University Way NE, Seattle, 98105... Found: (47.6614794, -122.313301)
Attempting to geocode                    1100 NE 45th St, Seattle, 98105... Found: (47.6615194, -122.3163483)
Attempting to geocode             4511 University Way NE, Seattle, 98105... Found: (47.6616878, -122.313289)
Attempting to geocode             4524 University Way NE, Seattle, 98105... Found: (47.6620812, -122.3129464)
Attempting to geocode              4545 Roosevelt Way NE, Seattle, 98105... Found: (47.6620497, -122.3177052)
Attempting to geocode             4553 University Way NE, Seattle, 98105... Found: (47.6627944, -122.3134356)
Attempting to geocode               4701 Brooklyn Ave NE, Seattle, 98105... Found: (47.6632829, -122.31456474331276)
Attempting to geocode                   4708 11th Ave NE, Seattle, 98105... Found: (47.6634934, -122.3161723)
Attempting to geocode             4730 University Way NE, Seattle, 98105... Found: (47.6636997, -122.3129525)
Attempting to geocode             4725 University Way NE, Seattle, 98105... Found: (47.6638406, -122.3133253)
Attempting to geocode             4727 University Way NE, Seattle, 98105... Found: (47.663792, -122.3133443)
Attempting to geocode             5000 University Way NE, Seattle, 98105... Found: (47.6652428, -122.312867)
Attempting to geocode               5001 Brooklyn Ave NE, Seattle, 98105... Found: (47.66512325, -122.31455140146471)
Attempting to geocode                    1000 NE 50th St, Seattle, 98105... Found: (47.6652711, -122.3171865)
Attempting to geocode              5210 Roosevelt Way NE, Seattle, 98105... Found: (47.6668189, -122.3171951)
Attempting to geocode                    1026 NE 65th St, Seattle, 98115... Found: (47.6759659, -122.3162646)
Attempting to geocode               7130 Woodlawn Ave NE, Seattle, 98115... Found: (47.6802556, -122.324486)
Attempting to geocode               7214 Woodlawn Ave NE, Seattle, 98115... Found: (47.6809727, -122.3248217)
Attempting to geocode                 321 NE Thornton Pl, Seattle, 98125... Found: (47.7024574, -122.3245444)
Attempting to geocode                 3601 Fremont Ave N, Seattle, 98103... Found: (47.6518072, -122.350194)
Attempting to geocode                  4207 Gilman Ave W, Seattle, 98199... Found: (47.6577752, -122.3892433)
Attempting to geocode                     2110 N 45th St, Seattle, 98103... Found: (47.661502, -122.333122)
Attempting to geocode                     1218 N 45th St, Seattle, 98103... Found: (47.6615362, -122.3424975)
Attempting to geocode                  2215 NW Market St, Seattle, 98107... Found: (47.6685142, -122.3855842)
Attempting to geocode                   6421 15th Ave NW, Seattle, 98107... Found: (47.6757657, -122.3766678)
Attempting to geocode                  7815 Aurora Ave N, Seattle, 98103... Found: (47.6859691, -122.3447158)
Attempting to geocode                 13200 Aurora Ave N, Seattle, 98133... Found: (47.7246207, -122.3436423)
Attempting to geocode                   8507 35th Ave NE, Seattle, 98115... Found: (47.6903134, -122.291147)
Attempting to geocode             11064 Lake City Way NE, Seattle, 98125... Found: (47.71007845, -122.30010770966955)
Attempting to geocode              14314 Greenwood Ave N, Seattle, 98133... Found: (47.7328992, -122.3550341)

In [69]:
boba_gdf.head()

,id,location,geometry
0,ozuMi1zz9jJkkikPLqNNSA,"{'address1': '600 5th Ave S', 'address2': 'Ste...",POINT (-122.32667 47.59680)
1,M4BjcVhOEjVgeF8EeSjZPQ,"{'address1': '519 6th Ave S', 'address2': '', ...",POINT (-122.32656 47.59765)
2,rFC0LUPyhgyP7UC9ehkrHw,"{'address1': '618 S Weller St', 'address2': ''...",POINT (-122.32529 47.59771)
3,I4pK6zZ4QwpmwVSTcDhH7A,"{'address1': '619 S King St', 'address2': None...",POINT (-122.32545 47.59823)
4,_L8WhDX0gwh1oMfpI7jdog,"{'address1': '679 S King St', 'address2': '', ...",POINT (-122.32394 47.59827)