In [ ]:
CITY_NAME = "Seattle"

In [1]:
# Goal: determine which nodes count as "having boba"
import osmnx as ox
import geopandas as gpd
import pickle
import json
import pandas as pd

## Read data

This shouldn't take longer than ~40 sec.

### Load graph, separate to nodes and edges

In [2]:
# ~15 sec
with open(f"./data/{CITY_NAME.lower()}_networkx_graph.pkl", "rb") as fin:
    G = pickle.load(fin)

In [ ]:
# ~1:16
ox.plot_graph(G, figsize=(80, 80), node_size=0, edge_linewidth=0.5)

In [19]:
fig, ax = _

In [ ]:
ax.plot(47.6062, -122.3321, marker="o")
fig

In [3]:
# ~70 sec
nodes, edges = ox.graph_to_gdfs(G)

In [15]:
print(nodes.describe())
nodes.head()

                   y              x   street_count
count  115864.000000  115864.000000  115864.000000
mean       47.640392    -122.329135       3.101714
std         0.049098       0.035311       0.927418
min        47.496012    -122.435772       1.000000
25%        47.611576    -122.352647       3.000000
50%        47.643255    -122.324202       3.000000
75%        47.675895    -122.303082       4.000000
max        47.734135    -122.237990       8.000000

,y,x,highway,street_count,ref,geometry
osmid,,,,,,
29449863,47.643976,-122.304067,traffic_signals,4,NaN,POINT (-122.30407 47.64398)
29462909,47.641088,-122.297930,NaN,3,NaN,POINT (-122.29793 47.64109)
29464223,47.643918,-122.304207,traffic_signals,3,NaN,POINT (-122.30421 47.64392)
29464742,47.658325,-122.301425,NaN,3,NaN,POINT (-122.30143 47.65832)
29464746,47.656011,-122.302121,NaN,3,NaN,POINT (-122.30212 47.65601)

In [17]:
print(edges.describe())
edges.head(1)

              length
count  359218.000000
mean       36.091719
std        50.317404
min         0.032000
25%         7.476000
50%        14.292000
75%        44.701000
max      4444.400000

,,,osmid,oneway,lanes,ref,name,highway,maxspeed,junction,reversed,length,bridge,geometry,access,service,width,tunnel
u,v,key,,,,,,,,,,,,,,,,
29449863,3391701883,0,332060236,False,3,WA 513,East Montlake Place East,secondary,25 mph,intersection,True,8.55,NaN,"LINESTRING (-122.30407 47.64398, -122.30400 47...",NaN,NaN,NaN,NaN

### Load boba shop locations

In [9]:
# Hack from https://stackoverflow.com/questions/71907567/valueerror-geodataframe-does-not-support-multiple-columns-using-the-geometry-co
boba_gdf = gpd.read_file(f"./data/{CITY_NAME.lower()}_boba_shops.csv",
                         GEOM_POSSIBLE_NAMES="geometry", 
                         KEEP_GEOM_COLUMNS="NO")
boba_gdf = boba_gdf[["id", "location", "geometry"]]
boba_gdf.head()

,id,location,geometry
0,ozuMi1zz9jJkkikPLqNNSA,"{'address1': '600 5th Ave S', 'address2': 'Ste...",POINT (-122.32745 47.59728)
1,M4BjcVhOEjVgeF8EeSjZPQ,"{'address1': '519 6th Ave S', 'address2': '', ...",POINT (-122.32654 47.59772)
2,rFC0LUPyhgyP7UC9ehkrHw,"{'address1': '618 S Weller St', 'address2': ''...",POINT (-122.32552 47.59763)
3,I4pK6zZ4QwpmwVSTcDhH7A,"{'address1': '619 S King St', 'address2': None...",POINT (-122.32549 47.59825)
4,_L8WhDX0gwh1oMfpI7jdog,"{'address1': '679 S King St', 'address2': '', ...",POINT (-122.32395 47.59824)